.div-section{
    flex-grow: 1;
    background-image: url(https://wallpaperaccess.com/full/1943944.jpg);
    background-repeat: no-repeat;
}

.div-section>h2{
    text-align: center;
    padding: 20px;
    color: rgb(248, 23, 23);
}